* {
    scrollbar-width: thin;
    scrollbar-color: #1c1c1b #dcdad9;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #dcdad9;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1c1c1b;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }